<form *ngIf="isReady | async" [formGroup]="form">

  <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="20">
    <mat-grid-tile
      *ngFor="let question of raceQuestions"
      [colspan]="1"
      [rowspan]="1">
      <bvs-race-question class="race-question" [question]="question" [form]="form"></bvs-race-question>
    </mat-grid-tile>
  </mat-grid-list>

</form>


<div>
  <button mat-button matStepperPrevious type="button">Back</button>
  <button mat-button matStepperNext type="button" (click)="next()">Next</button>
</div>
